.card {
	padding: 0 2rem;
	width: 100%;
	min-width: 700px;
	background-color: var(--primary);
	border-radius: var(--rounded-sm);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	border-bottom: var(--border-bottom);
}

.displayName {
	width: 180px;
	overflow: hidden;
}

.username {
	color: var(--color-textlight);
	font-size: var(--text-sm);
}

.info {
	display: grid;
	grid-template-columns: 3fr 2fr 6fr;
	align-items: center;
	gap: 2rem;
}

.activeContainer {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.active {
	height: 0.3rem;
	width: 0.7rem;
	border-radius: 30px;
	margin-top: 0.2rem;
	background-color: var(--color-green);
}

.notActive {
	height: 0.3rem;
	width: 0.7rem;
	border-radius: 30px;
	margin-top: 0.2rem;
	background-color: var(--color-red);
}

.role {
	text-align: left;
}

.buttons {
	/* width: 50%; */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}
