.card {
	padding: 0 2rem;
	background-color: var(--primary);
	border-radius: var(--rounded-sm);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-bottom: var(--border-bottom);
	width: 49%;
}

.displayName {
	width: 180px;
	overflow: hidden;
}

.username {
	color: var(--color-textlight);
	font-size: var(--text-sm);
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.activeContainer {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.active {
	height: 0.3rem;
	width: 0.7rem;
	border-radius: 30px;
	margin-top: 0.2rem;
	background-color: var(--color-green);
}

.notActive {
	height: 0.3rem;
	width: 0.7rem;
	border-radius: 30px;
	margin-top: 0.2rem;
	background-color: var(--color-red);
}

.role {
	text-align: left;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0rem;
	margin-left: 0.5rem;
}
