.button {
	border: none;
	padding: 0.5rem 1rem;
	color: var(--color-text);
}

.button:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}

.create {
	background-color: var(--color-orange);
}
.edit {
	background-color: var(--color-greenlight);
}
.delete {
	background-color: var(--color-red);
}
