.inputContainer {
	height: 2.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: #ffffff;
	color: #000000;
	border: var(--input-border);
	padding: 0.5rem 1rem;
	border-radius: var(--rounded-sm);
}

.icon {
	width: 1rem;
	height: 1rem;
	color: var(--color-textlight);
}

.input {
	border: none;
	outline: none;
	width: 100%;
	color: var(--color-black);
}

.input::placeholder {
	color: var(--color-textlight);
}
